p.navbar-text {
color: black !important;
}

.navbar-default .navbar-nav>li>a {
    color: #337ab7;
    text-decoration: underline;
}

.participants a {
  color: black !important;
  text-decoration: underline;
}

.search-form {
  border-style: solid;
  border-width: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: lightgrey;
}

.search-form h2 {
  margin-left: 20px;
}

.btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover {
  color: black;
  text-decoration: underline;
}

.btn.btn-default {
  border: solid;
  border-radius: 15px;
  border-width: thin; !important
}

.btn.small-grey {
  border: solid;
  border-radius: 10px;
  background-color: lightgrey;
  border: none;
}

.btn.small-grey:hover {
background-color: white;
}

.dropdown, .dropup {
  color: lightgrey;
} 

a, a:active, a:focus, a:hover {
  color: lightgrey;
  text-decoration: underline;
}
.proposals {
  margin-top: 20px;
  border-top: 1px solid black;
}

.btn-proposals {
  margin-top: 20px;
  border-top: 1px solid black;
  padding-top: 20px;
}

a.btn.btn-default.proposals {
  text-decoration: none;
}
.item {
  text-align: center;
  height: 200px;
}

.carousel-caption {
  color: grey;
}

.reviews-row {
  margin-bottom: 50px;
}

.reviews {
  margin-top: 2%;
}
.user-pic {
  text-align: center;
  padding-top: 10px;
  font-size: 40px;
}
.carousel-inner {
  border: 3px;
  border-style: solid;
  border-color: #b3b3b3;
}
.carousel-control {
  background-image: none !important;
  color: grey;
  font-size: 48px;
  padding-top: 10%;
}

.user-pic {
  padding-top:10%;
}
.carousel-control.right{
  position: absolute;
  right: 0%;
  top: 25px;
}

.carousel-control.left {
  position: absolute;
  left: 0%;
  top: 25px;
}

#add-review-btn {
  margin: auto;
  border-radius: 0px;
  margin-top: 60%;
}

#send-provider-btn {
  margin: auto;
  border-radius: 0px;
}

.provider-form {
  background-color: #b3b3b3;
}

.contact {
  background-color: #b3b3b3;
}

.contact-text {
  padding-left: 5%;
}

.review-text {
  padding-top: 10px;
}

.paginator {
  text-align:center;
}

.pagination>li>a {
  color: black;
}