<div class="container proposals-head">
  {% if page == 'index' %}
    <h2 class="text-center">Свежие заявки</h2>
  {% else %}
    <div class="row">
      <div class="col-md-12 text-left">
        <h1>Заявки</h1>
      </div>
    </div>
  {% endif %}
    <div class="row">
      <div class="col-md-9">
        <div class="dropdown text-left">
          Раздел: <a href="#" data-toggle="dropdown" class="dropdown-toggle">
            Все 
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Раздел 1</a></li>
            <li><a href="#">Раздел 2</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="dropdown">
          Регион: <a href="#" data-toggle="dropdown" class="dropdown-toggle">
            Новосибирск и область 
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Москва и МО</a></li>
            <li><a href="#">Санкт-Петербург</a></li>
          </ul>
        </div>
      </div>
    </div>
  {% for indent in range(4) %}
    <div class="row">
      <div class="proposals col-md-12">
         <div class="row">
              <div class="col-md-10 col-xs-12">
                  <p class="text-muted">вчера, 21.30</p>
              </div>
              <div class="col-md-2 col-xs-12">
                  <span class="underlined ">&#9733; В закладки</span>
              </div>
          </div>
          <p>60 шт. ПК от 72-15 до ПК 21-15, Криводановка с доставкой</p>
          <p class="name">Алексей</p>
          <button type="submit" class="btn btn-default small-grey">Показать телефон</button>
          <span class="text-muted">12 просмотров</span>
      </div>
    </div>
  {% endfor %}
    <div class="container text-center btn-proposals">
  {% if page == "index" %}
     <a href="proposals-list.html" class="btn btn-default proposals">Посмотреть все заявки</a>
  {% else %}
     <button class="btn btn-default">Показать еще</button>
  {% endif %}
  </div>
</div>