<div class="container">
  <div class="row">
    <div class="search col-md-12 text-center">
      <h1>ВАМ ПОЗВОНЯТЬ ЛУЧШИЕ ПОСТАВЩИКИ НОВОСИБИРСКА</h1>
    </div>
  </div>
  <div class="row">
    <div class="search-form">
      <h2>Я ищу</h2>
      <form class="form-horizontal">
          <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
              <div class="checkbox">
                <label><input type="checkbox" value="">ЖБИ (фундаментальные блоки ФБС, плиты перекрытий ПК, перемычки)</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="">Кирпич / Газобетон / БРУС</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="">Бетон / Раствор</label>
              </div>
                
              <button class="btn btn-link dropdown-toggle underlined" id="search-btn" type="button" data-toggle="dropdown">в Новосибирске и области
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">в Москве и МО</a></li>
                <li><a href="#">в Калуге</a></li>
              </ul> 
            </div>
          
            <div class="form-group">
              <label for="desription" class="control-label col-md-2 text-right">Описание * </label>
              <div class="col-md-9">
                <input type="text" class="form-control input-lg">
                <p class="text-muted">Пример: нужно фбс 24.4.6 50 шт плиты пк 20 ПК 60-20-12 доставка в Новолуговое</p>
              </div>
            </div>

            <div class="form-group">
              <label for="phone" class="col-md-2 text-right control-label">Телефон *</label>
              <div class="col-md-3">
                  <input type="text" class="form-control">
              </div>
              <label for="name" class="col-md-2 text-right control-label">Имя </label>
              <div class="col-md-4">
                  <input type="text" class="form-control">
              </div>
            </div>
          
            <div class="form-group">
              <div class="text-center">
                  <button type="submit" class="btn btn-default">ОПУБЛИКОВАТЬ ЗАЯВКУ</button>
              </div>
            </div>
          
          </div>
      </form>
    </div>
  </div>
</div>