{% extends ".base.html" %}
{% block body %}
  {% include "_navbar.html" %}
    <div class="row">
      <div class="col-md-1">
      <i class="glyphicon glyphicon-home" aria-hidden="true">Логотип</i>
    </div>
    <div class="row">
      <div class="col-md-12 col-md-offset-1 text-left">
        <h1>Заявки</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <div class="dropdown">
          Раздел: <a href="#" data-toggle="dropdown" class="dropdown-toggle">
            Все 
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Раздел 1</a></li>
            <li><a href="#">Раздел 2</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-5 text-right">
        <div class="dropdown">
          Регион: <a href="#" data-toggle="dropdown" class="dropdown-toggle">
            Новосибирск и область 
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Москва и МО</a></li>
            <li><a href="#">Санкт-Петербург</a></li>
          </ul>
        </div>
      </div>
    </div>
  {% include "_proposals.html" %}
  {% include "_paginator.html" %}
  {% include "_provider-form.html" %}
{% endblock %}